.TableProducts{
    border: 1;
}

.TableProducts table{
    width: 100%;
}

.TableProducts th{
    color: #ffffff;
    background-color: #0D5555;
}

.TableProducts .Par{
    background-color: #ddd;
}

.TableProducts .Impar{
    background-color: #ccc;
}

