.Card {
  width: 500px;
  margin: 10px;
  display: flex;
  overflow: hidden;
  min-width: 300px;
  border: 3px solid;
  border-radius: 10px;
  flex-direction: column;
}

.Card .Title {
  display: flex;
  padding: 5px 0px;
  justify-content: center;
}

.Card .Content {
  flex: 1;
  color: #000;
  padding: 20px;
  background-color: #ffffff;
}
